@import url(https://db.onlinewebfonts.com/c/20e9fce1ca54ce1d7b7a7329de9bdaef?family=Gistesy);
@font-face {
    font-family: "Lato";
    src: url('698242188-Lato-Bla.eot');
    src: url('698242188-Lato-Bla.eot?#iefix') format('embedded-opentype'),
    url('698242188-Lato-Bla.svg#Lato Black') format('svg'),
    url('698242188-Lato-Bla.woff') format('woff'),
    url('698242188-Lato-Bla.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}
body{
    display: flex;
    justify-content: center;
    background-image: url('imagenes/2.png');

    background-size: cover;

}
.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('imagenes/2.png');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 10PX;
    width: 500px;
    height: 620px;
    box-shadow: 0 0 20px rgb(16, 223, 255);
    border-radius: 10px;
}
.principal .inicio{
    background-color: transparent;
    position: absolute;
    width: 80px;
    margin-left: -410px;
  margin-top: 0px;
}
.principal .inicio a{
    color: #04add8;
    font-size: 1rem;
  
}
.principal .inicio a i{
 padding-right:4px ;
 font-size: 1.1rem;
  
}
.principal .inicio a:hover{
    color: #37d7ff;
    font-size: 16.4px;
}

.principal p{
    font-family:gistesy ;
    font-size: 5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #04add8;
    text-shadow: 0 0 10px rgb(4, 29, 38) , 0 0 20px rgb(9, 196, 234) , 0 0 30px rgb(101, 206, 255) , 0 0 40px #00d5ff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
    animation:luz 4s ease ;
}
@keyframes luz {
    0% { opacity: 1; } /* Inicio de la animación */
    50% {  opacity: 0.1; } /* 50% de la animación */
    100% { opacity: 1; } /* Fin de la animación */
}

.principal h1{
    color: rgb(223, 227, 230);
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.principal h2{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(223, 227, 230);
    font-weight: normal;
    font-size: 1.1rem;
    letter-spacing: 0.6px;
}
.principal button{
    width: 230px;
    height: 48px;
    background-color: #0691b4c3;
    border: none;
    border-radius: 20px;
   
    margin-top: 30px;
    font-size: 1.1rem;
    cursor: pointer;
}
.principal button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.principal button a:hover{
    text-decoration:underline;
   
}



/* Community manager */

.plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0691b4c3 ;
    color: rgb(255, 255, 255);
    width: 250px;
    height: 360px;
    border-radius: 6px;
    margin-top: 20px;
}
 .planes{
    text-align: center;
    height: 30px;
    padding-top: 6px;
    margin-top: -20px;
    border: none;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.928);
    color: aliceblue;
    width: 60%;
    letter-spacing: 0.5px;
    z-index: 1;
    
}
.diseños{
    text-align: center;
    height: 30px;
    padding-top: 6px;
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: 25px;
    border: none;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.824);
    color: aliceblue;
    width: 80%;
    letter-spacing: 0.5px;
    font-weight: lighter;
    z-index: 1;
}
.plan h4{
    width: 90%;
    margin-top: 15px;
    text-align: center;
    border-bottom: 2px solid rgba(240, 248, 255, 0.842);
    height: 40px;
    font-weight: normal;
    letter-spacing: 0.5px;
}


/*DISEÑO WEB*/
.diseño{
    width: 260px;
    height: 390px;

}
.diseño img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
}


/* CARRUSEL */
.carousel {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .carousel-inner {
    display: flex;
  }
  
  .carousel-item {
    display: none;
    transition: transform 0.5s ease;
  }
  
  .carousel-item.active {
    display: block;
    transform: translateX(0);
  }
  
  .carousel-item.next {
    transform: translateX(100%);
  }
  
  .carousel-item.prev {
    transform: translateX(-100%);
  }
  
  

  
 .carousel button {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background-color:transparent;
    color:  #06a6cec3;
    border: none;
    text-shadow: 0 0 5px rgb(4, 29, 38) , 0 0 5px rgba(9, 141, 167, 0.801) , 0 0 10px rgba(10, 95, 134, 0.522) , 0 0 10px #0488a3 , 0 0 20px #0688a9a0 , 0 0 90px #05809fb7 , 0 0 10px #04b9b9 ;
    cursor: pointer;

  }
  
  .carousel .prev {
    width: 60px;
   margin-left: -80px;
  }
  
  .carousel .next {
    width: 60px;
    margin-left: 260px;
  }
  .carousel button i{
    font-size: 2rem;
    
  }
  
  .plan {
    /* Estilos para el elemento plan */
    transition: opacity 0.8s ease; /* Transición para suavizar el cambio de opacidad */
}
.moveRightAnimation2 {
    animation: moveLeft 0.5s ease;
}
.moveRightAnimation {
    animation: moveRight 0.5s ease;
}


@keyframes moveRight {
    0% { transform: translateX(0); opacity: 1; } /* Inicio de la animación */
    50% { transform: translateX(15px); opacity: 0.1; } /* 50% de la animación */
    100% { transform: translateX(0); opacity: 1; } /* Fin de la animación */
}
@keyframes moveLeft {
    0% { transform: translateX(0); opacity: 1; } /* Inicio de la animación */
    50% { transform: translateX(-15px); opacity: 0.1; } /* 50% de la animación */
    100% { transform: translateX(0); opacity: 1; } /* Fin de la animación */
}





/*CONTACTO*/

.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.contacto a{
    text-decoration: none;
    margin-top: 30px;
    color: aliceblue;
    font-size: 1.2rem;
    text-align: center;
    border: 2px solid #0691b4c3 ;
    width: 50%;
    height: 150px;
    box-shadow: 0 0 5px rgb(11, 163, 186);
   
}
.contacto i{
    width: 40px;
    height: 40px;
    font-size: 2.3rem;
    margin: 10px 0;
    color: rgb(6, 178, 205);

}

.contacto a h3{
margin-bottom: 10px;
text-shadow: 1px 1px 2px rgba(3, 44, 52, 0.824);
}
.contacto a span{
    margin: 6px 0;
    letter-spacing: 0.6px;
    text-shadow: 1px 1px 2px rgba(3, 44, 52, 0.824);
}


/*RESPONSIVE*/

@media (max-width:550px){
    .principal{
        margin: 0;
        border-radius: 0px;
        width: 100%;
        height: 680px;
    }
    .principal p{
        margin-top: 20px;
        }
        .principal h1{
            font-size: 1.4rem;
         
        }
        .principal h2{
            font-size: 1rem;
        
        }
        .carousel .prev {
           margin-left: -60px;
          }
          
          .carousel .next {
            margin-left: 245px;
          }
          .carousel button i{
            font-size: 1.9rem;
          }

          .principal .inicio{
            margin-left: -290px;
       
        }
        .principal .inicio a{
            color: #04add8;
            font-size: 1rem;
          
        }
        .principal .inicio a i{
         padding-right:3px ;
         font-size: 1rem;
          
        }
        .diseño{
            height: 410px;
        }

        .contacto a{
           width: 75%;
           height: 162px;
        }
        .contacto i{
            width: 40px;
            height: 40px;
            font-size: 2.3rem;
            margin: 10px 0;
            color: rgb(6, 178, 205);
        
        }
        
        .contacto a h3{
        margin-bottom: 10px;
        text-shadow: 1px 1px 2px rgba(3, 44, 52, 0.967);
        }
        .contacto a span{
            margin: 6px 0;
            letter-spacing: 0.5px;
            text-shadow: 1px 1px 2px rgba(3, 44, 52, 0.927);
            font-size: 1.1rem;
        }
        
}